Repository TBD54566975/incubation-dcx: changes, and which Codecov flags are due for each by the changed paths.
All: applicant, common, issuer, server

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto       # auto compares coverage to the previous base commit
        threshold: 5%      # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90         # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-applicant
      name: applicant
      paths: ["packages/applicant/**"]

    - component_id: package-common
      name: common
      paths: ["packages/common/**"]

    - component_id: package-issuer
      name: issuer
      paths: ["packages/issuer/**"]

    - component_id: package-server
      name: server
      paths: ["packages/server/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Updated @dcx-protocol/issuer to version 1.3.0 Package versions updated: { root: '1.2.0', applicant: '1.2.0', common: '2.0.0', issuer: '1.3.0', server: '1.2.0' }
  packages/common/package.json
  packages/issuer/package.json
Due: common, issuer

initial resolution code (#111)
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/package.json
  packages/common/src/dcx-identity-vault.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/common/tests/dcx-config.spec.ts
  packages/common/tests/dcx-identity-vault.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer.ts
Due: applicant, common, issuer

server: bump minor
  packages/server/package.json
Due: server

Publish (#117)
  package.json
  packages/server/package.json
Due: server

combine options into config and use unshift to push .use() options to front of list
  packages/applicant/src/dcx-applicant.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-dht-manager.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/interfaces/pex.ts
  packages/common/src/types/options.ts
  packages/common/src/types/pex.ts
  packages/common/src/utils/options.ts
  packages/common/src/utils/pex.ts
  packages/issuer/src/dcx-issuer.ts
  packages/server/src/applicant-server.ts
  packages/server/src/dcx-server.ts
Due: applicant, common, issuer, server

fix lint
  packages/common/src/types/pex.ts
Due: common

Refactor redundant config and options #118
  packages/applicant/src/dcx-applicant-config.ts
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/tests/dcx-applicant-config.spec.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/applicant/tests/dcx-config-applicant.spec.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-dht-manager.ts
  packages/common/src/dcx-identity-vault.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/manifests/email-address.ts
  packages/common/src/manifests/phone-number.ts
  packages/common/src/types/dcx.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/common/tests/dcx-config.spec.ts
  packages/common/tests/dcx-file-system.spec.ts
  packages/common/tests/dcx-identity-vault.spec.ts
  packages/issuer/src/dcx-issuer-config.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/src/index.ts
  packages/issuer/tests/dcx-config-issuer.spec.ts
  packages/issuer/tests/dcx-issuer-config.spec.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/src/applicant-server.ts
  packages/server/src/dcx-server.ts
  packages/server/src/issuer-server.ts
  packages/server/src/types.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer, server

add changeset for major version bump
  .changeset/heavy-dingos-sip.md
Due: none

Refactor redundant config and options (#119)
  .changeset/heavy-dingos-sip.md
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant-config.ts
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/tests/dcx-applicant-config.spec.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/applicant/tests/dcx-config-applicant.spec.ts
  packages/common/package.json
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-dht-manager.ts
  packages/common/src/dcx-identity-vault.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/interfaces/pex.ts
  packages/common/src/manifests/email-address.ts
  packages/common/src/manifests/phone-number.ts
  packages/common/src/types/dcx.ts
  packages/common/src/types/options.ts
  packages/common/src/utils/options.ts
  packages/common/src/utils/pex.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/common/tests/dcx-config.spec.ts
  packages/common/tests/dcx-file-system.spec.ts
  packages/common/tests/dcx-identity-vault.spec.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer-config.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/src/index.ts
  packages/issuer/tests/dcx-config-issuer.spec.ts
  packages/issuer/tests/dcx-issuer-config.spec.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/package.json
  packages/server/src/applicant-server.ts
  packages/server/src/dcx-server.ts
  packages/server/src/issuer-server.ts
  packages/server/src/types.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer, server

fix build and tests
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-identity-vault.ts
  packages/common/src/utils/file-system.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/common/tests/dcx-config.spec.ts
  packages/common/tests/dcx-identity-vault.spec.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer, server

remove close()
  packages/common/src/utils/file-system.ts
Due: common

bump common minor
  .changeset/fair-candles-clean.md
Due: none

Refactor/redundant config options (#120)
  .changeset/fair-candles-clean.md
  package.json
  packages/applicant/package.json
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/package.json
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-identity-vault.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/common/tests/dcx-config.spec.ts
  packages/common/tests/dcx-identity-vault.spec.ts
  packages/issuer/package.json
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/package.json
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer, server

putting dev code here temporarily
  packages/common/src/dcx-manager.ts
  packages/common/src/manifests/phone-number.ts
  packages/common/src/schemas/invoice.ts
  packages/common/src/schemas/manifest.ts
  packages/issuer/src/dcx-issuer.ts
  packages/server/src/issuer-server.ts
Due: common, issuer, server

remove manifests and fix type
  packages/common/src/manifests/email-address.ts
  packages/common/src/manifests/phone-number.ts
  packages/common/src/types/dcx.ts
Due: common

align with new manager interface - #126
  packages/applicant/src/dcx-applicant.ts
Due: applicant

#126 - fix bugs in applicant and common
  package.json
  packages/applicant/tests/dcx-applicant-config.spec.ts
  packages/common/src/dcx-config.ts
  packages/common/src/index.ts
  packages/common/tests/dcx-config.spec.ts
  packages/issuer/tests/dcx-issuer-config.spec.ts
Due: applicant, common, issuer

#126 - resolve bug in applicant and issuer; updates to common
  .github/workflows/lint-build-test.yml
  dcx.code-workspace
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/index.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/package.json
  packages/common/src/dcx-agent.ts
  packages/common/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/issuer/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: applicant, common, issuer, server

fix lint
  packages/applicant/src/dcx-applicant.ts
Due: applicant

update version script
  scripts/version.ts
Due: none

add version scripts
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

Package versions updated: { root: '5.0.0', applicant: '4.0.0', major common: '4.1.0', minor issuer: '3.1.0', minor server: '3.0.1' patch }
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: common, issuer, server

Fix bugs in applicant and common (#127)
  .github/workflows/lint-build-test.yml
  dcx.code-workspace
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/index.ts
  packages/applicant/tests/dcx-applicant-config.spec.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/package.json
  packages/common/src/dcx-agent.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/manifests/email-address.ts
  packages/common/src/manifests/phone-number.ts
  packages/common/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/common/src/schemas/invoice.ts
  packages/common/src/schemas/manifest.ts
  packages/common/src/types/dcx.ts
  packages/common/tests/dcx-config.spec.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/dcx-issuer-config.spec.ts
  packages/server/package.json
  packages/server/src/issuer-server.ts
  pnpm-lock.yaml
  scripts/version.ts
Due: applicant, common, issuer, server

update changeset
  .changeset/clever-dots-act.md
Due: none

Publish (#129)
  .changeset/clever-dots-act.md
  .changeset/shaggy-pigs-unite.md
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

update changesets md to be correct package name
  .changeset/clever-dots-act.md
  .changeset/fair-candles-clean.md
  .changeset/heavy-dingos-sip.md
  .changeset/seven-boats-march.md
  .changeset/shaggy-pigs-unite.md
  package.json
  packages/applicant/CHANGELOG.md
  packages/applicant/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/issuer/CHANGELOG.md
  packages/issuer/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  pnpm-workspace.yaml
Due: applicant, common, issuer, server

update changesets md to be correct package name (#131)
  .changeset/clever-dots-act.md
  .changeset/fair-candles-clean.md
  .changeset/heavy-dingos-sip.md
  .changeset/seven-boats-march.md
  .changeset/shaggy-pigs-unite.md
  package.json
  packages/applicant/CHANGELOG.md
  packages/applicant/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/issuer/CHANGELOG.md
  packages/issuer/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  pnpm-workspace.yaml
Due: applicant, common, issuer, server

applicant pex changes
  packages/applicant/src/applicant.ts
  packages/applicant/src/config.ts
  packages/applicant/src/index.ts
  packages/applicant/src/protocol.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/manifests/handshake.ts
  packages/common/src/schemas/application.ts
  packages/common/src/schemas/invoice.ts
  packages/common/src/schemas/manifest.ts
  packages/common/src/schemas/response.ts
  packages/common/src/types/dcx.ts
  packages/common/src/types/dwn.ts
  packages/common/src/utils/dcx.ts
  packages/common/src/utils/error.ts
  packages/common/src/utils/options.ts
  packages/common/src/utils/pex.ts
  packages/issuer/src/config.ts
  packages/issuer/src/index.ts
  packages/issuer/src/issuer.ts
  packages/issuer/src/protocol.ts
Due: applicant, common, issuer

pex helper methods
  packages/applicant/src/applicant.ts
  packages/applicant/tests/applicant.spec.ts
  packages/applicant/tests/config.spec.ts
  packages/common/src/types/dwn.ts
  packages/common/src/utils/pex.ts
  packages/issuer/src/issuer.ts
  packages/issuer/tests/config.spec.ts
  packages/issuer/tests/issuer.spec.ts
  packages/server/src/applicant-server.ts
  packages/server/src/issuer-server.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer, server

bump all major versions
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

fix lint
  packages/server/src/applicant-server.ts
  packages/server/src/issuer-server.ts
Due: server

PEX & DWN helper methods (#133)
  package.json
  packages/applicant/package.json
  packages/applicant/src/applicant.ts
  packages/applicant/src/config.ts
  packages/applicant/src/index.ts
  packages/applicant/src/protocol.ts
  packages/applicant/tests/applicant.spec.ts
  packages/applicant/tests/config.spec.ts
  packages/common/package.json
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/manifests/handshake.ts
  packages/common/src/schemas/application.ts
  packages/common/src/schemas/invoice.ts
  packages/common/src/schemas/manifest.ts
  packages/common/src/schemas/response.ts
  packages/common/src/types/dcx.ts
  packages/common/src/types/dwn.ts
  packages/common/src/utils/dcx.ts
  packages/common/src/utils/error.ts
  packages/common/src/utils/options.ts
  packages/common/src/utils/pex.ts
  packages/issuer/package.json
  packages/issuer/src/config.ts
  packages/issuer/src/index.ts
  packages/issuer/src/issuer.ts
  packages/issuer/src/protocol.ts
  packages/issuer/tests/config.spec.ts
  packages/issuer/tests/issuer.spec.ts
  packages/server/package.json
  packages/server/src/applicant-server.ts
  packages/server/src/issuer-server.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer, server

fixing manifest fitlering in issuer server; adding trycatch; fixing ms sleep; create new method for sleeping
  packages/issuer/src/issuer.ts
  packages/server/src/issuer-server.ts
Due: issuer, server

remove redundant log
  packages/server/src/issuer-server.ts
Due: server

fix bugs in issuer-server (#136)
  packages/issuer/src/issuer.ts
  packages/server/src/issuer-server.ts
Due: issuer, server

chore: bump server patch version
  package.json
  packages/server/package.json
Due: server

adding new changeset for server patch
  .changeset/silver-wasps-begin.md
Due: none

Publish (#137)
  .changeset/silver-wasps-begin.md
  package.json
  packages/server/package.json
Due: server

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none
