Repository TBD54566975/incubation-dcx: changes, and which Codecov flags are due for each by the changed paths.
All: applicant, common, issuer

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto       # auto compares coverage to the previous base commit
        threshold: 5%      # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90         # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-applicant
      name: applicant
      paths: ["packages/applicant/**"]

    - component_id: package-common
      name: common
      paths: ["packages/common/**"]

    - component_id: package-issuer
      name: issuer
      paths: ["packages/issuer/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Package versions updated: { root: '3.0.0', applicant: '3.1.0', common: '2.2.0', issuer: '3.1.0' }
  package.json
Due: none

update server
  packages/server/src/dcx-server.ts
Due: none

Publish (#84)
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant.ts
  packages/common/package.json
  packages/common/src/dcx-agent-recovery.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/interfaces/dcx.ts
  packages/common/src/schemas/application.ts
  packages/common/src/types/dcx.ts
  packages/common/src/types/options.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer-protocol.ts
  packages/issuer/src/dcx-issuer.ts
  packages/server/src/dcx-server.ts
  pnpm-lock.yaml
Due: applicant, common, issuer

fix tests for all
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/src/utils/logger.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer

fix tests for all (#85)
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/src/utils/logger.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer

Package versions updated: { root: '3.0.1', applicant: '3.1.1', common: '2.2.1', issuer: '3.1.1' }
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

Publish (#86)
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

update pnpm scripts
  package.json
Due: none

add server to version script and publish
  packages/server/package.json
  scripts/version.ts
Due: none

Publish @dcx-protocol/server (#87)
  packages/server/package.json
  scripts/version.ts
Due: none

update server package.json
  packages/server/package.json
Due: none

update server/README
  packages/server/README.md
Due: none

comment out ianpatton for now
  CODEOWNERS
Due: none

Update server readme 88 (#89)
  CODEOWNERS
  packages/server/README.md
Due: none

update badges
  README.md
Due: none

update all READMEs
  README.md
  docs/usage/README.md
  packages/applicant/README.md
  packages/applicant/src/dcx-applicant-protocol.ts
  packages/applicant/src/index.ts
  packages/common/README.md
  packages/issuer/README.md
  packages/server/README.md
Due: applicant, common, issuer

Update README (#90)
  README.md
  docs/usage/README.md
  packages/applicant/README.md
  packages/applicant/src/dcx-applicant-protocol.ts
  packages/applicant/src/index.ts
  packages/common/README.md
  packages/issuer/README.md
  packages/server/README.md
Due: applicant, common, issuer

Package versions updated: { root: '3.0.2', applicant: '3.1.2', common: '2.2.2', issuer: '3.1.2', server: '0.1.1' }
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer

Publish (#91)
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer

update scripts
  package.json
  packages/common/package.json
Due: common

remove unneeded file
  packages/common/src/prototyping/crypto/primitives/aes-kw.ts
Due: common

fix deps
  .github/workflows/lint-build-test.yml
  package.json
  packages/common/src/prototyping/crypto/primitives/aes-kw.ts
Due: common

Scripts (#92)
  .github/workflows/lint-build-test.yml
  package.json
  packages/common/package.json
Due: common

update gh action and fix lint
  .github/workflows/lint-build-test.yml
  eslint.config.cjs
Due: none

update gh action and fix lint (#93)
  .github/workflows/lint-build-test.yml
  eslint.config.cjs
Due: none

tests in gh action
  .github/workflows/lint-build-test.yml
Due: none

implement createRecords
  packages/applicant/src/dcx-applicant.ts
  packages/common/src/index.ts
  packages/common/src/types/dcx.ts
  packages/common/src/utils/dcx.ts
  packages/issuer/src/dcx-issuer.ts
Due: applicant, common, issuer

major version release
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer

implement createRecords (#96)
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant.ts
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/types/dcx.ts
  packages/common/src/utils/dcx.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer.ts
  packages/server/package.json
Due: applicant, common, issuer

fixing filterRecords => findMissingManifests
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/common/src/utils/dcx.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer.ts
  packages/server/package.json
Due: applicant, common, issuer

fix filtering
  .github/workflows/lint-build-test.yml
  package.json
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/issuer/src/dcx-issuer.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer

fixing filterRecords => findMissingManifests (#98)
  .github/workflows/lint-build-test.yml
  package.json
  packages/applicant/package.json
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/package.json
  packages/common/src/utils/dcx.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer.ts
  packages/server/package.json
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer

remove console log, update console.log to Logger.error
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/issuer/src/dcx-issuer.ts
Due: applicant, issuer

eliminate server config; require issuer/applicant config; pass issuer/applicant to server
  packages/applicant/src/dcx-applicant.ts
  packages/common/src/interfaces/dcx.ts
  packages/common/src/types/dcx.ts
  packages/issuer/src/dcx-issuer-protocol.ts
  packages/issuer/src/dcx-issuer.ts
  packages/server/package.json
  packages/server/src/dcx-issuer.ts
  packages/server/src/index.ts
  pnpm-lock.yaml
Due: applicant, common, issuer

rework config out of server and into issuer/applicant
  dcx.code-workspace
  packages/applicant/build/bundles.js
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/web-test-runner.config.cjs
  packages/common/build/bundles.js
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-trusted-issuers.ts
  packages/common/src/index.ts
  packages/common/src/interfaces/dcx.ts
  packages/common/src/interfaces/options.ts
  packages/common/src/interfaces/pex.ts
  packages/common/src/manifests/dcx-handshake.json
  packages/common/src/manifests/email-address.json
  packages/common/src/manifests/email-address.ts
  packages/common/src/manifests/handshake.ts
  packages/common/src/manifests/phone-number.json
  packages/common/src/manifests/phone-number.ts
  packages/common/src/types/config.ts
  packages/common/src/types/options.ts
  packages/common/src/types/pex.ts
  packages/common/src/types/server.ts
  packages/common/src/utils/cipher.ts
  packages/common/src/utils/options.ts
  packages/common/tests/dcx-config.spec.ts
  packages/issuer/build/bundles.js
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/dcx-config-issuer.spec.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/build/bundles.js
  packages/server/src/applicant/index.ts
  packages/server/src/core.ts
  packages/server/src/index.ts
  packages/server/src/issuer/index.ts
  packages/server/tests/dcx-server.spec.ts
  tsconfig.json
Due: applicant, common, issuer

fix build and tests
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/applicant/tests/dcx-config-applicant.spec.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/common/tests/dcx-config.spec.ts
  packages/common/tests/dcx-identity-vault.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer

update GH action
  .github/workflows/lint-build-test.yml
Due: none
