Repository TBD54566975/incubation-dcx: changes, and which Codecov flags are due for each by the changed paths.
All: applicant, common, issuer

remove logger mute
  packages/common/src/utils/logger.ts
Due: common

bump common patch
  packages/common/package.json
Due: common

Publish (#74)
  packages/common/package.json
  packages/common/src/utils/logger.ts
Due: common

update test and eliminate server
  packages/applicant/src/core.ts
  packages/applicant/src/index.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-core.spec.ts
  packages/common/src/types/options.ts
  packages/issuer/src/index.ts
  packages/issuer/src/server.ts
Due: applicant, common, issuer

fix build
  packages/issuer/src/index.ts
  packages/issuer/src/server.ts
Due: issuer

version bumps
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

Changes to @dcx-protocol/applicant (#75)
  package.json
  packages/applicant/package.json
  packages/applicant/src/core.ts
  packages/applicant/src/index.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-core.spec.ts
  packages/common/package.json
  packages/common/src/types/options.ts
  packages/issuer/package.json
  packages/issuer/src/handlers.ts
  packages/issuer/src/manager.ts
  packages/issuer/src/server.ts
Due: applicant, common, issuer

changes to all; add dcxissuer, dcxapplicant, rework them; fix tests
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/index.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-core.spec.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/types/dcx.ts
  packages/common/src/types/manager.ts
  packages/common/src/utils/error.ts
  packages/common/tests/common-config.spec.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

reorg code and fix build
  packages/applicant/src/dcx-applicant-config.ts
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-core.spec.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/types/dcx.ts
  packages/issuer/src/dcx-issuer-config.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

update lock
  packages/issuer/package.json
  pnpm-lock.yaml
Due: issuer

fix build
  packages/applicant/src/core.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-core.spec.ts
  packages/common/src/config.ts
  packages/common/src/utils/logger.ts
  packages/common/tests/common-config.spec.ts
  packages/issuer/src/manager.ts
  packages/issuer/src/server.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

fix build (#76)
  packages/applicant/src/core.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-core.spec.ts
  packages/common/src/config.ts
  packages/common/src/utils/logger.ts
  packages/common/tests/common-config.spec.ts
  packages/issuer/src/manager.ts
  packages/issuer/src/server.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

add recursive stream test
  package.json
Due: none

bump patch
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

Publish (#77)
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

clear latest changes
  packages/common/src/config.ts
  packages/common/src/types/options.ts
Due: common

update workspace
  EXAMPLE-MANIFEST.json
  codecov.yml
  package.json
  packages/applicant/src/dcx-applicant-config.ts
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/index.ts
  packages/common/src/config.ts
  packages/common/src/dcx-dht-manager.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/types/dcx.ts
  packages/common/tsconfig.json
  packages/issuer/src/dcx-issuer-config.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/src/index.ts
  packages/server/src/config.ts
  packages/server/src/index.ts
  packages/server/src/manifests/dcx-handshake.json
  packages/server/src/manifests/email-address.json
  packages/server/src/manifests/phone-number.json
  pnpm-workspace.yaml
Due: applicant, common, issuer

publish to new org
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

Update README.md
  README.md
Due: none

formatting
  eslint.config.cjs
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer.ts
Due: issuer

tests passing
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/tests/applicant-core.spec.ts
  packages/common/src/utils/file-system.ts
  packages/common/tests/agent.spec.ts
  packages/common/tests/identity-vault.spec.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

completing #69
  packages/applicant/src/dcx-applicant-config.ts
  packages/applicant/src/dcx-applicant.ts
  packages/common/src/config.ts
Due: applicant, common

move config
  packages/applicant/src/dcx-applicant.ts
  packages/issuer/src/dcx-issuer-config.ts
Due: applicant, issuer

dcx-protocol/common/dcxmanager-dcxconfig-69
  packages/issuer/src/dcx-issuer-protocol.ts
  packages/issuer/src/dcx-issuer.ts
Due: issuer

Implement DcxManager & DcxConfig (#73)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  eslint.config.cjs
  packages/applicant/src/config.ts
  packages/applicant/src/dcx-applicant-config.ts
  packages/applicant/src/dcx-applicant-protocol.ts
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/index.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-core.spec.ts
  packages/common/src/config.ts
  packages/common/src/dcx-dht-manager.ts
  packages/common/src/dcx-identity-vault.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/types/dcx.ts
  packages/common/src/utils/error.ts
  packages/common/src/utils/file-system.ts
  packages/common/tests/agent.spec.ts
  packages/common/tests/identity-vault.spec.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer-config.ts
  packages/issuer/src/dcx-issuer-protocol.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/src/handlers.ts
  packages/issuer/src/index.ts
  packages/issuer/src/manager.ts
  packages/issuer/src/server.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

Update README.md (#79)
  README.md
Due: none

first major bump: breaks backcompat
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

bump version major - breaking backcompat changes
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

Publish (#80)
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

DcxServer
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/types/handlers.ts
  packages/common/src/types/server.ts
  packages/common/src/types/web5.ts
  packages/issuer/src/dcx-issuer.ts
  packages/server/src/index.ts
Due: common, issuer

fix server tests
  packages/server/src/index.ts
  packages/server/tests/server.spec.ts
Due: none

all tests passing
  packages/common/tests/dcx-config.spec.ts
  packages/server/src/dcx-server.ts
  packages/server/src/index.ts
Due: common

rename
  packages/server/tests/dcx-server.spec.ts
Due: none

final touches on server
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/index.ts
  packages/applicant/src/protocol.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/src/dcx-agent-recovery.ts
  packages/common/src/dcx-agent.ts
  packages/common/src/index.ts
  packages/common/src/schemas/response.ts
  packages/issuer/src/dcx-issuer-protocol.ts
  packages/issuer/src/dcx-issuer.ts
Due: applicant, common, issuer

adding breaking changes across all packages
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

updating applicant protocol
  packages/applicant/src/dcx-applicant.ts
  packages/common/package.json
  packages/common/src/dcx-agent-recovery.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/types/dcx.ts
  packages/common/src/types/options.ts
  packages/issuer/src/dcx-issuer.ts
  pnpm-lock.yaml
Due: applicant, common, issuer

fully implemented issuer and applicant - still need final createRecords methods
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant.ts
  packages/common/package.json
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/interfaces/dcx.ts
  packages/common/src/schemas/application.ts
  packages/common/src/types/dcx.ts
  packages/common/src/types/options.ts
  packages/issuer/src/dcx-issuer-protocol.ts
  packages/issuer/src/dcx-issuer.ts
Due: applicant, common, issuer

update pnpm scripts
  package.json
Due: none

clear working directory
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

Path conditions:
  applicant: any of: packages/applicant/**
  common: any of: packages/common/**
  issuer: any of: packages/issuer/**
