Repository TBD54566975/incubation-dcx: changes, and which Codecov flags are due for each by the changed paths.
All: applicant, common, issuer

starter tests for common
  .gitignore
  packages/common/src/utils/file-system.ts
  packages/common/tests/agent.spec.ts
  packages/common/tests/common-config.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/common/tests/identity-vault.spec.ts
Due: common

Integration & Unit Testing - Common (#61)
  .gitignore
  codecov.yml
  packages/applicant/src/manager.ts
  packages/applicant/src/server.ts
  packages/common/src/dcx-identity-vault.ts
  packages/common/src/utils/file-system.ts
  packages/common/tests/agent.spec.ts
  packages/common/tests/common-config.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/common/tests/identity-vault.spec.ts
Due: applicant, common

update github action
  .github/workflows/build.yml
Due: none

updating cicd flow
  .github/workflows/build.yml
  packages/applicant/tests/server.spec.ts
  packages/issuer/src/handlers.ts
  packages/issuer/src/manager.ts
  packages/issuer/src/server.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, issuer

still getting failing tests: need triage
  .env.example
  .gitignore
  example.env
  packages/applicant/src/manager.ts
  packages/applicant/src/protocol.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-server.spec.ts
  packages/common/src/schemas/application.ts
  packages/common/src/schemas/invoice.ts
  packages/common/src/schemas/manifest.ts
  packages/common/src/schemas/response.ts
  packages/issuer/package.json
  packages/issuer/src/handlers.ts
  packages/issuer/src/manager.ts
  packages/issuer/src/protocol.ts
  packages/issuer/src/server.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

update manifest
  packages/common/src/schemas/manifest.ts
  packages/issuer/src/manager.ts
Due: common, issuer

hold off doing tests in workflow
  .github/workflows/build.yml
Due: none

CI/CD Updates (#62)
  .env.example
  .github/workflows/build.yml
  .gitignore
  example.env
  packages/applicant/src/manager.ts
  packages/applicant/src/protocol.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-server.spec.ts
  packages/common/src/schemas/application.ts
  packages/common/src/schemas/invoice.ts
  packages/common/src/schemas/manifest.ts
  packages/common/src/schemas/response.ts
  packages/issuer/package.json
  packages/issuer/src/handlers.ts
  packages/issuer/src/manager.ts
  packages/issuer/src/protocol.ts
  packages/issuer/src/server.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

remove Dockerfiles - reintroduce later in dcx-server
  packages/applicant/Dockerfile
  packages/common/Dockerfile
  packages/issuer/Dockerfile
Due: applicant, common, issuer

remove Dockerfiles - reintroduce later in dcx-server (#63)
  packages/applicant/Dockerfile
  packages/common/Dockerfile
  packages/issuer/Dockerfile
Due: applicant, common, issuer

fully working test suite, updated github action
  .github/workflows/build.yml
  package.json
  packages/applicant/src/config.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-server.spec.ts
  packages/common/src/config.ts
  packages/common/src/utils/file-system.ts
  packages/common/tests/agent.spec.ts
  packages/common/tests/common-config.spec.ts
  packages/common/tests/identity-vault.spec.ts
  packages/issuer/package.json
  packages/issuer/src/manager.ts
  packages/issuer/src/server.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

update crypto
  packages/common/tests/file-system.spec.ts
Due: common

add verify crypto
  .github/workflows/build.yml
Due: none

revert GH actions
  .github/workflows/build.yml
Due: none

fully working test suite, updated github action (#64)
  .github/workflows/build.yml
  package.json
  packages/applicant/src/config.ts
  packages/applicant/tests/applicant-config.spec.ts
  packages/applicant/tests/applicant-server.spec.ts
  packages/common/src/config.ts
  packages/common/src/utils/file-system.ts
  packages/common/tests/agent.spec.ts
  packages/common/tests/common-config.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/common/tests/identity-vault.spec.ts
  packages/issuer/package.json
  packages/issuer/src/manager.ts
  packages/issuer/src/server.ts
  packages/issuer/tests/issuer-config.spec.ts
  packages/issuer/tests/issuer-server.spec.ts
Due: applicant, common, issuer

align with main and bump patch version
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

Publish (#65)
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

finishes implementing applicant side of protocol
  README.md
  packages/applicant/README.md
  packages/applicant/src/config.ts
  packages/applicant/src/core.ts
  packages/applicant/src/handlers.ts
  packages/applicant/src/index.ts
  packages/applicant/src/manager.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-server.spec.ts
  packages/common/README.md
  packages/common/src/config.ts
  packages/common/src/schemas/response.ts
  packages/common/src/utils/error.ts
  packages/issuer/README.md
  packages/issuer/src/handlers.ts
  packages/issuer/src/server.ts
Due: applicant, common, issuer

fix build errors
  package.json
  packages/applicant/src/core.ts
  packages/applicant/src/index.ts
  packages/applicant/src/server.ts
Due: applicant

Implement Dcx Applicant Protocol (#66)
  README.md
  package.json
  packages/applicant/README.md
  packages/applicant/src/config.ts
  packages/applicant/src/core.ts
  packages/applicant/src/handlers.ts
  packages/applicant/src/index.ts
  packages/applicant/src/manager.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-server.spec.ts
  packages/common/README.md
  packages/common/src/config.ts
  packages/common/src/schemas/response.ts
  packages/common/src/utils/error.ts
  packages/issuer/README.md
  packages/issuer/src/handlers.ts
  packages/issuer/src/server.ts
Due: applicant, common, issuer

adding publish script
  package.json
Due: none

version
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

Publish (#67)
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

starting migration of managers
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/index.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-server.spec.ts
Due: applicant

modify handlers based on implementation learnings
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/server.ts
  packages/issuer/src/handlers.ts
Due: applicant, issuer

create manager interface
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/server.ts
  packages/common/src/config.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/types/options.ts
  packages/issuer/src/dcx-issuer-handlers.ts
  packages/issuer/src/dcx-issuer-protocol.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/src/index.ts
  packages/issuer/src/server.ts
Due: applicant, common, issuer

dcx server
  dcx.code-workspace
  packages/server/.c8rc.json
  packages/server/.mocharc.json
  packages/server/README.md
  packages/server/build/bundles.js
  packages/server/build/cjs-bundle.js
  packages/server/build/esbuild-browser-config.cjs
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/tests/issuer-config.spec.ts
  packages/server/tests/issuer-server.spec.ts
  packages/server/tests/tsconfig.json
  packages/server/tsconfig.cjs.json
  packages/server/tsconfig.json
Due: none

setting up server
  packages/common/src/config.ts
  packages/issuer/package.json
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/tests/issuer-config.spec.ts
  packages/server/tests/server.spec.ts
  pnpm-lock.yaml
Due: common, issuer

bump common version
  packages/common/package.json
  packages/common/src/utils/logger.ts
  scripts/version.ts
Due: common

update dwn to tbd
  packages/applicant/src/config.ts
  packages/issuer/src/config.ts
Due: applicant, issuer

update tests and some code
  packages/applicant/src/core.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-server.spec.ts
  packages/common/tests/agent.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/common/tests/identity-vault.spec.ts
Due: applicant, common

bump all minor
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

bump common version (#71)
  packages/applicant/package.json
  packages/applicant/src/config.ts
  packages/applicant/src/core.ts
  packages/applicant/src/server.ts
  packages/applicant/tests/applicant-server.spec.ts
  packages/common/package.json
  packages/common/src/utils/logger.ts
  packages/common/tests/agent.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/common/tests/identity-vault.spec.ts
  packages/issuer/package.json
  packages/issuer/src/config.ts
  scripts/version.ts
Due: applicant, common, issuer

fix conflicts
  package.json
Due: none

add version and publish scripts
  package.json
Due: none

remove publish.ts and fix version.ts
  scripts/publish.ts
  scripts/version.ts
Due: none

update version script & bump root
  package.json
  scripts/version.ts
Due: none

Publish (#72)
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  scripts/publish.ts
  scripts/version.ts
Due: applicant, common, issuer

progress - need more thinking around proper implementation
  packages/applicant/src/dcx-applicant-config.ts
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/src/index.ts
  packages/common/src/config.ts
  packages/common/src/dcx-dht-manager.ts
  packages/common/src/dcx-identity-vault.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/index.ts
  packages/common/src/types/dcx.ts
  packages/common/src/types/manager.ts
  packages/common/src/utils/logger.ts
  packages/issuer/src/dcx-issuer-config.ts
  packages/issuer/src/dcx-issuer-handlers.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/src/index.ts
  packages/issuer/src/server.ts
Due: applicant, common, issuer

update applicant to be non-server-side
  packages/applicant/src/core.ts
  packages/issuer/src/handlers.ts
  packages/issuer/src/manager.ts
Due: applicant, issuer

Path conditions:
  applicant: any of: packages/applicant/**
  common: any of: packages/common/**
  issuer: any of: packages/issuer/**
