Repository TBD54566975/incubation-dcx: changes, and which Codecov flags are due for each by the changed paths.
All: applicant, common, issuer, server

update GH action
  .github/workflows/lint-build-test.yml
Due: none

revert gh action
  .github/workflows/lint-build-test.yml
Due: none

resolve conflicts
  package.json
  packages/applicant/package.json
Due: applicant

bump versions
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

build-test script
  package.json
Due: none

Publish (#102)
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

fix bug and tests
  packages/applicant/src/dcx-applicant.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-trusted-issuers.ts
  packages/common/src/index.ts
  packages/common/src/types/config.ts
  packages/common/tests/file-system.spec.ts
  packages/server/src/applicant/index.ts
  packages/server/src/issuer/index.ts
Due: applicant, common, server

revert major versions since still alpha
  dcx.code-workspace
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/common/tests/dcx-config.spec.ts
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

fix lint
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/common/tests/dcx-config.spec.ts
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

fix bug, fix tests, bump versions (#103)
  dcx.code-workspace
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant.ts
  packages/common/package.json
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-trusted-issuers.ts
  packages/common/src/index.ts
  packages/common/src/types/config.ts
  packages/common/tests/dcx-config.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/issuer/package.json
  packages/server/package.json
  packages/server/src/applicant/index.ts
  packages/server/src/issuer/index.ts
Due: applicant, common, issuer, server

dcxserver
  packages/applicant/src/dcx-applicant.ts
  packages/common/src/types/pex.ts
  packages/server/next-env.d.ts
  packages/server/package.json
  packages/server/src/applicant/index.ts
  packages/server/src/core.ts
  packages/server/src/dcx-server.ts
  packages/server/src/index.ts
  packages/server/src/issuer/index.ts
  pnpm-lock.yaml
Due: applicant, common, server

implement idcxserver, dcxserver, issuerserver; todo - applicantserver
  package.json
  packages/server/src/applicant/index.ts
  packages/server/src/dcx-server.ts
  packages/server/src/issuer/index.ts
  packages/server/tests/dcx-server.spec.ts
Due: server

bump versions
  package.json
  packages/server/package.json
Due: server

remove applicant server use code
  packages/server/src/applicant/index.ts
  packages/server/src/index.ts
Due: server

update applicant test
  packages/applicant/tests/dcx-applicant.spec.ts
Due: applicant

fix server tests
  packages/server/src/dcx-server.ts
  packages/server/src/index.ts
  packages/server/tests/dcx-issuer-server.spec.ts
Due: server

dcxserver (#106)
  package.json
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/src/types/pex.ts
  packages/server/next-env.d.ts
  packages/server/package.json
  packages/server/src/applicant/index.ts
  packages/server/src/core.ts
  packages/server/src/dcx-server.ts
  packages/server/src/index.ts
  packages/server/src/issuer/index.ts
  packages/server/tests/dcx-issuer-server.spec.ts
  pnpm-lock.yaml
Due: applicant, common, server

update test
  packages/common/src/dcx-agent-recovery.ts
  packages/server/tests/dcx-server.spec.ts
Due: common, server

patch: server
  packages/server/package.json
Due: server

Bug/server test/set config vars (#107)
  packages/common/src/dcx-agent-recovery.ts
  packages/server/package.json
  packages/server/tests/dcx-server.spec.ts
Due: common, server

many changes getting server working
  packages/applicant/src/dcx-applicant.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-dht-manager.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/interfaces/options.ts
  packages/common/src/interfaces/pex.ts
  packages/common/src/types/options.ts
  packages/common/src/types/pex.ts
  packages/common/src/types/server.ts
  packages/common/src/utils/logger.ts
  packages/common/src/utils/options.ts
  packages/common/tests/dcx-config.spec.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/package.json
  packages/server/src/applicant/index.ts
  packages/server/src/dcx-server.ts
  packages/server/src/issuer/index.ts
  packages/server/tests/dcx-issuer-server.spec.ts
  packages/server/tests/dcx-server.spec.ts
  pnpm-lock.yaml
Due: applicant, common, issuer, server

fix build and tests
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/server/tests/dcx-issuer-server.spec.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, server

bump versions: applicant, issuer, server
  packages/applicant/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, issuer, server

fix server bug (#108)
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-dht-manager.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/interfaces/options.ts
  packages/common/src/interfaces/pex.ts
  packages/common/src/types/options.ts
  packages/common/src/types/pex.ts
  packages/common/src/types/server.ts
  packages/common/src/utils/logger.ts
  packages/common/src/utils/options.ts
  packages/common/tests/dcx-config.spec.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/package.json
  packages/server/src/applicant/index.ts
  packages/server/src/dcx-server.ts
  packages/server/src/issuer/index.ts
  packages/server/tests/dcx-issuer-server.spec.ts
  packages/server/tests/dcx-server.spec.ts
  pnpm-lock.yaml
Due: applicant, common, issuer, server

pushing changes for review later
  packages/applicant/src/dcx-applicant.ts
  packages/common/src/dcx-manager.ts
  packages/common/src/types/pex.ts
  packages/server/src/dcx-server.ts
Due: applicant, common, server

pushing changes for review later
  packages/common/src/dcx-config.ts
  packages/issuer/src/dcx-issuer.ts
Due: common, issuer

all bugs worked out, server implemented; build and tests passing
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-manager.ts
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/dcx-config-issuer.spec.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/package.json
  packages/server/src/applicant-server.ts
  packages/server/src/dcx-server.ts
  packages/server/src/issuer-server.ts
  packages/server/src/types.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer, server

bump major
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

minor bump
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
  packages/server/package.json
Due: applicant, common, issuer, server

testing 1.0.0
  packages/issuer/package.json
Due: issuer

1.1.0
  packages/issuer/package.json
Due: issuer

minor bump server
  packages/server/package.json
Due: server

bump minor: 1.2.0
  package.json
  packages/applicant/package.json
  packages/common/package.json
  packages/issuer/package.json
Due: applicant, common, issuer

all bugs worked out, server implemented; build and tests passing (#109)
  package.json
  packages/applicant/package.json
  packages/applicant/src/dcx-applicant.ts
  packages/applicant/tests/dcx-applicant.spec.ts
  packages/common/package.json
  packages/common/src/dcx-config.ts
  packages/common/src/dcx-manager.ts
  packages/issuer/package.json
  packages/issuer/src/dcx-issuer.ts
  packages/issuer/tests/dcx-config-issuer.spec.ts
  packages/issuer/tests/dcx-issuer.spec.ts
  packages/server/package.json
  packages/server/src/applicant-server.ts
  packages/server/src/dcx-server.ts
  packages/server/src/issuer-server.ts
  packages/server/src/types.ts
  packages/server/tests/dcx-server.spec.ts
Due: applicant, common, issuer, server

initial resolution code
  packages/common/src/dcx-identity-vault.ts
  packages/common/tests/dcx-identity-vault.spec.ts
  packages/issuer/src/dcx-issuer.ts
Due: common, issuer

should fix bug in dcx identity vault
  packages/common/src/dcx-identity-vault.ts
  packages/common/tests/dcx-agent.spec.ts
  packages/common/tests/dcx-config.spec.ts
  packages/common/tests/dcx-identity-vault.spec.ts
  packages/common/tests/file-system.spec.ts
  packages/issuer/src/dcx-issuer.ts
Due: common, issuer

update applicant tests
  packages/applicant/tests/dcx-applicant.spec.ts
Due: applicant

Path conditions:
  applicant: any of: packages/applicant/**
  common: any of: packages/common/**
  issuer: any of: packages/issuer/**
  server: any of: packages/server/**
